<!-- templates/cart.liquid -->
<div class="cart-page">
{% if cart.item_count > 0 %}
  <div class="container l">
    <h1>{{ 'cart.title' | t }}</h1>
  </div>

  <form id="CartPage" action="/cart" method="post" novalidate>
    <div class="container l s-hide">
      <div class="row l-table m-table" id="CartHeader">
        <div class="column l2 m2">{{ 'cart.product' | t }}</div>
        <div class="column l4 m4">{{ 'cart.description' | t }}</div>
        <div class="column l2 m2 center">{{ 'cart.quantity' | t }}</div>
        <div class="column l2 m2 center">{{ 'cart.price' | t }}</div>
        <div class="column l2 m2 l-right m-right">{{ 'cart.unit_total' | t }}</div>
      </div>
    </div>

    <div class="container l" data-item-container>
      {% for item in cart.items %}
        <div class="item row l-table m-table">
          <div class="column l2 m2 s12 v-top">
            <a href="{{ item.url | within: collections.all }}">
              <div class="image" style="background-image: url('{{ item | img_url: '200x' }}');"></div>
              <img class="product_image" src="{{ item | img_url: '200x' }}" alt="{{ item.title | escape }}">
            </a>
          </div>
          <div class="column l4 m4 s12 v-top">
            <p>
              <a class="product_title h4" href="{{ item.url }}">
                {{ item.product.title }}
              </a>
              <span>
                <a class="variant_title h5" href="{{ item.url }}">
                  Size: {{ item.variant.title }}
                </a>
              </span>
              {% comment %}
                Optional, loop through custom product line items if available
                For more info visit http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
              {% endcomment %}
              {% assign propertySize = item.properties | size %}
              {% if propertySize > 0 %}
                {% for property in item.properties %}
                  {% assign first_character_in_key = property.first | truncate: 1, '' %}
                  {% unless property.last == blank or first_character_in_key == '_' %}
                    {{ property.first }}:
                    {% comment %}
                      Check if there was an uploaded file associated
                    {% endcomment %}
                    {% if property.last contains '/uploads/' %}
                      <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                    {% else %}
                      {{ property.last }}
                    {% endif %}
                  {% endunless %}
                {% endfor %}
              {% endif %}
              <a class="remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0"><small>{{ 'cart.remove_item' | t }}</small></a>
            </p>
          </div>
          <div class="column l2 m3 s6 v-top center">
            <div class="quantity-adjust no-margin">
              <a class="adjust minusOne" data-minus-one onclick="checkRemoveMinus(this)">&#8722;</a>
              <span class="quantity" data-item-quantity data-item-id="{{ item.id }}">{{ item.quantity }}</span>
              <a class="adjust plusOne" data-plus-one>&#43;</a>
            </div>
          </div>
          <div class="column l2 m2 s-hide v-top center">
            <div class="unit-price">{{ item.price | money }}</div>
          </div>
          <div class="column l3 v-top s-show right">
            {% if item.total_discount > 0 %}
              <s>{{ item.original_line_price | money }}</s>
              <p class="no-margin">{{ item.message }}</p>
            {% else %}
              <p class="no-margin">{{ item.line_price | money }}</p>
            {% endif %}<br>
          </div>
          <div class="column l2 m2 right v-top s-hide">
            {% if item.total_discount > 0 %}
              <s>{{ item.original_line_price | money }}</s>
              <p class="units-price">{{ item.message }}</p>
            {% else %}
              <div class="units-price">
              <p>{{ item.line_price | money }}</p>
              </div>
            {% endif %}<br>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="container l">
      <div class="row no-margin subtotal-row">
        <div class="column l6 m6 s12">
          {% if settings.freeshipping != blank %}
            <p id="shippingNotice"></p>
          {% endif %}
          {% if settings.cart_notes_enable %}
            <label for="CartSpecialInstructions">{{ 'cart.note' | t }}</label>
            <textarea class="wide" name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
          {% endif %}
        </div>
        <div class="column l6 m6 s12 l-right m-right subtotal-column">
          <p class="subtotal-container">
            <span class="cart-total-heading">{{ 'cart.subtotal' | t }}</span>
            <span id="SubTotal" class="h3" data-cart-total>{{ cart.total_price | money }}</span>
          </p>
        </div>
        <div class="column l12 m12 s12">
          <p><em>{{ 'cart.shipping_at_checkout' | t }}</em></p>
          <div class="buttons">
            <a href="/" class="btn continue-btn">{{'cart.continue' | t }}</a>
            <button type="submit" name="checkout">{{ 'cart.checkout' | t }}</button>
          </div>
          {% if additional_checkout_buttons %}
            <div class="additional-checkout-buttons">
              {{ content_for_additional_checkout_buttons }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </form>
<div class="container xl recommended-container">
  <div class="row no-margin">
    <div class="column l12 m12 s12 s-center m-center l-center">
      <h3>{{'cart.recommended' | t }}</h3>
    </div>
  </div>
  <div class="row">
    {% assign column_width = 'column l3 m3 s6' %}
    {% for product in collections['best-selling'].products limit: 4%}
      {% include 'collection-product' %}
    {% endfor %}
  </div>
</div>
{% else %}
  <div class="container l">
    <h2>{{ 'cart.title' | t }}</h2>
    <p class="h4">{{ 'cart.empty' | t }}</p>
  </div>
{% endif %}
</div>

{% raw %}
<script data-cart-template type="text/x-handlebars-template">
  <div class="row item l-table m-table">
    <div class="column l2 m2 s12 v-top">
      <a href="{{ lineItem.url }}">
        <div class="image" style="background-image: url('{{ lineItem.image }}');"></div>
        <img class="product_image" src="{{ lineItem.image }}" alt="{{ lineItem.image.alt }}">
      </a>
    </div>
    <div class="column l4 m4 s12 v-top">
      <p>
        <a class="product_title h4" href="{{ lineItem.url }}">
          {{ lineItem.product_title }}
        </a>
        <span>
          <a class="variant_title h5" href="{{ lineItem.url }}">
            Size: {{ lineItem.variant_title }}
          </a>
          {{#each lineItem.properties}}
          <span>Engraving: {{ this }}</span>
          {{/each}}
        </span>
      </p>
    </div>
    <div class="column l2 m2 s6 v-top center">
      <div class="quantity-adjust no-margin">
        <a class="adjust minusOne" data-minus-one onclick="checkRemoveMinus(this)">&#8722;</a>
        <span class="quantity" data-item-quantity data-item-id="{{ lineItem.id }}">{{ lineItem.quantity }}</span>
        <a class="adjust plusOne" data-plus-one>&#43;</a>
      </div>
    </div>
    <div class="column l2 m2 s-hide v-top center">
      <div class="unit-price">${{formatMoney lineItem.price}}</div>
    </div>
    <div class="column l2 v-top right">
      <div class="price-container">
      {{#if lineItem.total_discount}}
        <div class="no-margin">
          <p>
            {{#if lineItem.line_price}}
             ${{formatMoney lineItem.line_price}}
            {{else}}
              Free
            {{/if}}
          </p>
          <s class="small">${{formatMoney lineItem.original_line_price}} </s>
        </div>
        {{#each lineItem.discounts}}
           <small class="no-margin">{{this.title}}</small><br>
        {{/each}}
      {{else}}
        <div class="units-price">
          <p>${{formatMoney lineItem.line_price}} </p>
          <!--<a href="#" data-remove-item data-item-id="{{lineItem.id}}"><small>Remove</small></a> -->
        </div>
      {{/if}}
      </div>
    </div>
  </div>
</script>
  {% endraw %}

<style>
  .theme-header{border-bottom: thin solid {{settings.border_color}};}
</style>

<script>
  //when clicking jewelry box
  function calculateFreeShipping(){
    {% if settings.freeshipping != blank %}
    var subtotal = $('#SubTotal').text().replace('$','');
    var minumum = parseInt('{{settings.freeshipping}}');
    if(subtotal.indexOf('.')>-1){
      subtotal = parseInt(subtotal.split('.')[0]);
    }
    var difference = minumum - subtotal;

    if(difference > 0){
      $('#shippingNotice').text("You're only $"+difference+" away from FREE shipping");
    }else{
      $('#shippingNotice').text('You are eligible for FREE shipping');
    }
    {% endif %}
  }
  function startShippingCheck(){
    if($('#CartPage .item').length > 0){
      $('#shippingNotice').show();
      calculateFreeShipping();
    }else{
      $('#shippingNotice').hide();
      calculateFreeShipping();
    }
  }

$(document).on('cartfox:requestComplete', function(event, cart, error){
  startShippingCheck();
});

$(document).ready(function(){
  startShippingCheck();
});
</script>
