<!-- /snippets/collection-product.liquid -->

{% unless column_width %}
 {% assign column_width = 'column l4 m6 s12' %}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
 {% assign on_sale = true %}
{% endif %}
{% assign sale_price = product.price | money %}

{% assign sold_out = true %}
{% if product.available %}
 {% assign sold_out = false %}
{% endif %}

{% assign newArrival = false %}
{% for tag in product.tags %}
{% if tag == 'new' %}
  {% assign newArrival = true %}
{% endif %}
{% endfor %}

{% assign rollover = false %}
{% for image in product.images %}
{% if forloop.length > 1 %}
  {% assign rollover = true %}
{% endif %}
{% endfor %}

<div class="{{ column_width }} collection-product {% if sold_out %} sold_out {% endif %} {% if on_sale %} on_sale {% endif %} {% if newArrival %} isNew {% endif %}"
     data-product-id="{{ product.id }}"
     data-product-price="{{ product.price }}">
  {% if newArrival %}
  <span class="new-icon">{{'product.new' | t }}</span>
  {% endif %}
  <div class="image-container">
    <a href="{{ product.url | within: collection }}">
    {% if rollover %}
    {% for image in product.images offset: 1 %}
      <img class="product-image rollover" srcset="{{image.src | img_url: 'x960' }} 2x" src="{{image.src | img_url: 'x960' }}" alt="{{image.alt | escape }}">
      {% break %}
    {% endfor %}
    {% endif %}
    <img class="product-image {% if rollover %}hasRollover{% endif %}" srcset="{{ product.featured_image.src | img_url: 'x960' }} 2x" src="{{ product.featured_image.src | img_url: 'x960' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
    <div class="quick-add">
      <div class="label">{{'product.add_to_cart' | t }}</div>
      <div class="variants">
        {% for variant in product.variants %}
        {% assign quickAvailable = false %}
        {% if variant.available %}
        {% assign quickAvailable = true %}
        {% endif %}
        <a data-quick-add="{{variant.id}}">{% include 'collection-product-variant-title' %}</a>
        {% endfor %}
      </div>
    </div>
    
  </div>
  <p class="product-info">
    <a href="{{ product.url | within: collection }}" class="product-title">{{ product.title }}</a><br>
    {% if on_sale %}
      {% if product.price_varies %}
        {{ 'product.on_sale_from_html' | t: price: sale_price }}
      {% else %}
        <strong>{{ 'product.on_sale_html' | t: price: sale_price }}</strong>
      {% endif %}
    {% else %}
      {% if product.price_varies %}
        {% assign price = product.price | money %}
        {{ 'product.priced_from_html' | t: price: price }}
      {% else %}
        {{ product.price | money }}
      {% endif %}
    {% endif %}
    {% if on_sale %}
      <span class="hidden">{{ 'product.original_price' | t }}</span>
      <s>{{ product.compare_at_price | money }}</s>
    {% endif %}
    {% unless add_to_cart %}
      {% if sold_out %}
        <br><strong>{{ 'product.sold_out' | t }}</strong>
      {% endif %}
    {% endunless %}
  </p>
</div>
