
{% assign sold_out = true %}
{% assign on_sale = false %}
{% assign current_variant = product.selected_or_first_available_variant %}

{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

{% assign noReturns = false %}
{% assign engravable = false %}

{% for tag in product.tags %}
{% if tag == 'noReturns' %}
  {% assign noReturns = true %}
{% endif %}
{% if tag contains 'sizechart' %}
  {% assign sizechart = tag | split:'_' | last %}
{% endif %}
{% if tag == 'engravable' %}
  {% assign engravable = true %}
{% endif %}
{% endfor %}

<meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
<meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

<div class="padding-top padding-bottom">
  <div class="container main-content" itemscope itemtype="http://schema.org/Product" data-section-type="product" data-section-id="{{ section.id }}" data-enable-history-state="true">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
    <div class="row">
      <div class="column l12 m12 s12">
      {% include 'theme-breadcrumbs' %}
      </div>
    </div>
    <div class="row form-row">
      <div class="column l7 m7 s12 images-column">
        {% if product.images.size > 1 %}
          {% assign hasThumbs = true %}
          <div id="ProductThumbs" class="row collapse">
            <ul>
            {% for image in product.images %}
              <li><img src="{{ image.src | img_url: 'master' }}"{% if image.alt %} alt="{{ image.alt }}"{% endif %}></li>
            {% endfor %}
            </ul>
            {% include 'social-sharing' %}
          </div>
        {% endif %}

        <div id="ProductPhoto" {% if hasThumbs %}class="hasThumbs"{% endif %}>
          <img src="{{ product.featured_image | img_url: 'master' }}"{% if image.alt %} alt="{{ image.alt }}"{% endif %}>
        </div>
      </div>

      <div class="column l5 m5 s12 s-center text-column">
        <h1 itemprop="name">{{ product.title }}</h1>
        <div class="style-number">Style No.<span id="styleNumber">{{product.selected_or_first_available_variant.sku}}</span></div>
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" data-cart-submit>
            <span class="hidden">{{ 'product.regular_price' | t }}</span>
            <div class="price-container">
              <span id="ProductPrice" class="h2 clearfix" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                {{ current_variant.price | money }}
              </span>
              {% if on_sale %}
                <p id="OnSale">
                  <span class="hidden">{{ 'product.original_price' | t }}</span>
                  <span>{{ 'product.original_price' | t }}</span>
                  <s id="ComparePrice">{{ product.compare_at_price | money }}</s>
                </p>
              {% endif %}
            </div>
            {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
              {% for option in product.options_with_values %}
                <div class="label-container">
                <label {% if option.name == 'default' %}class="hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index }}">
                  {{ option.name }}:
                </label>
                {% unless sizechart == blank %}
                <button type="button" data-page-handle="{{sizechart}}" id="SizeGuideTrigger">Size Guide</button>
                {% endunless %}
                </div>
                <div class="option-wrap">
                <select class="single-option-selector" id="SingleOptionSelector-{{ forloop.index }}" data-index="option{{ forloop.index }}">
                  {% for value in option.values %}
                    <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                  {% endfor %}
                </select>
                </div>
              {% endfor %}
            {% endunless %}

            {% comment %}Original variant selector, the customer will not see this element.{% endcomment %}
            <select name="id" id="productSelect" class="product-single__variants" data-index="option{{ forloop.index }}" style="display: none;">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option
                    value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}
                  </option>
                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'product.sold_out' | t }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>



            <label for="Quantity" class="clearfix">{{ 'product.quantity' | t }}:</label>
            <div class="option-wrap">
            <div class="quantity-adjust">
              {% comment %}
                <a class="adjust" data-change="-1">&#8211;</a>
                 <input type="number" id="Quantity" class="quantity" name="quantity" value="1" min="1" data-cart-quantity="1">
                <a class="adjust" data-change="1">&#43;</a>
              {% endcomment %}
              <select name="quantity" id="Quantity">
                {% for i in (1..5) %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
              </select>
            </div>
            </div>
            {% if engravable %}
            <label for="engraving">{{'product.engraving' | t }}</label>
            <input type="text" id="Engraving" name="properties[Engraving]" pattern="[A-Za-z]{3}">
            {% endif %}
            {% if sold_out %}
              <button type="submit" name="add" data-add-to-cart disabled>
                <span id="AddToCartText">{{ 'product.sold_out' | t }}</span>
              </button>
            {% else %}
              <button type="submit" name="add" data-add-to-cart>
                <span id="AddToCartText">{{ 'product.add_to_cart' | t }}</span>
              </button>
            {% endif %}
          </form>

        </div>

      </div>
    </div>
    <div class="row description-row">
      <div class="column l3 m3 s12">
        <h5>{{section.settings.column_1_heading}}</h5>
        <div class="rte" itemprop="description">
          {{ product.description }}
        </div>
      </div>
      <div class="column l3 m3 s12">
        <h5>{{section.settings.column_2_heading}}</h5>
        <div class="rte" itemprop="description">
          <p>Reverse Garment Before Washing.   Machine Wash Cold, Gentle Cycle.  Do Not Bleach.  Air Dry.</p>
        </div>
      </div>
      {% unless noReturns %}
      <div class="column l3 m3 s12">
        <h5>{{section.settings.column_3_heading}}</h5>
        <div class="rte" itemprop="description">
          {{section.settings.column_3_body}}
        </div>
      </div>
      {% else %}
      <div class="column l3 m3 s12">
        <h5>{{section.settings.column_3_alt_heading}}</h5>
        <div class="rte" itemprop="description">
          {{section.settings.column_3_alt_body}}
        </div>
      </div>
      {% endunless %}
      <div class="column l3 m3 s12">
        <h5>{{section.settings.column_4_heading}}</h5>
        <div class="rte" itemprop="description">
          {{section.settings.column_4_body}}
        </div>
      </div>
      <div class="show-more-container">
        <button class="show-more">Show More</button>
      </div>
    </div>
  </div>
  <div class="container l">
    <div class="row related-products">
      <div class="column l12 m12 s12">
        <h3>{{'product.related' | t }}</h3>
      </div>
      {% assign column_width = 'column l3 m3 s6' %}
      {% for collection in product.collections %}
      {% if collection.all_products_count > 4 %}
        {% for product in collection.products limit: 4 %}
            {% include 'collection-product' %}
        {% endfor %}
        {% break %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% unless sizechart == blank %}
{% include 'size-chart' %}
{% endunless %}
{% schema %}
  {
    "name": "Product Page",
    "class": "product-page",
    "settings": [
      {
        "type":"header",
        "content":"Product Tagging Info"
      },
      {
        "type":"paragraph",
        "content":"Add tag 'noReturns' to show text that the product is not returnable"
      },
      {
        "type":"paragraph",
        "content":"Add tag 'engravable' to show engraving settings"
      },
      {
        "type":"paragraph",
        "content":"Add tag 'sizechart_(handle of size chart page)' to show engraving settings. Ex: 'sizechart_womens-size-chart'"
      },
      {
        "type":"header",
        "content":"Product Column Text"
      },
      {
        "type":"header",
        "content":"Column 1"
      },
      {
        "type":"text",
        "label":"Heading",
        "id":"column_1_heading",
        "default":"Product Detail"
      },
      {
        "type":"paragraph",
        "content":"Body Content taken from product description"
      },
      {
        "type":"header",
        "content":"Column 2"
      },
      {
        "type":"text",
        "label":"Heading",
        "id":"column_2_heading",
        "default":"Product Care"
      },
      {
        "type":"header",
        "content":"Column 3"
      },
      {
        "type":"paragraph",
        "content":"If product is tagged with 'noReturns', column 3 will use the alternate heading and body"
      },
      {
        "type":"text",
        "label":"Heading",
        "id":"column_3_heading",
        "default":"Satisfaction Guarantee"
      },
      {
        "type":"richtext",
        "id":"column_3_body",
        "label":"Body"
      },
      {
        "type":"text",
        "label":"Alternate Heading",
        "id":"column_3_alt_heading",
        "default":"Return Policy"
      },
      {
        "type":"richtext",
        "id":"column_3_alt_body",
        "label":"Alternate Body"
      },
      {
        "type":"header",
        "content":"Column 4"
      },
      {
        "type":"text",
        "label":"Heading",
        "id":"column_4_heading",
        "default":"Need Help?"
      },
      {
        "type":"richtext",
        "id":"column_4_body",
        "label":"Body"
      }
    ]
  }
{% endschema %}