<!-- /snippets/theme-footer.liquid -->

{% assign heading = section.settings.heading %}
{% assign email_placeholder = section.settings.email_placeholder %}
{% assign button_text = section.settings.button_text %}
{% assign success = section.settings.success %}
{% assign show_button = section.settings.show_button %}

<footer class="theme-footer" role="contentinfo">
  <div class="container center links-container">
    <div class="row">
      <div class="column l2 m6 s-hide">
        <img src="{{section.settings.column1_image | img_url:'master'}}" alt="{{section.settings.column1_image}}">
      </div>
      <div class="column l3 m6 s-hide">
        <h5>{{section.settings.column2_heading}}</h5>
        <ul>
          {% for link in linklists[section.settings.column2_linklist].links %}
          <li>
            <a href="{{link.url}}">{{link.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="column l2 m6 s-hide">
        <h5>{{section.settings.column3_heading}}</h5>
        <ul>
          {% for link in linklists[section.settings.column3_linklist].links %}
          <li>
            <a href="{{link.url}}">{{link.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="column l2 m6 s-hide">
        <h5>{{section.settings.column4_heading}}</h5>
        <ul>
          {% for link in linklists[section.settings.column4_linklist].links %}
          <li>
            <a href="{{link.url}}">{{link.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="column l3 m6 s-hide">
        <h5>{{section.settings.column5_heading}}</h5>
        <p>{{section.settings.column5_content}}</p>
      </div>
    </div>
  </div>
  <div class="container center">
    <div class="row">
      <div class="column l12 m12 s12">
        {% if section.settings.enable_social %}
          {% include 'social-links' %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="container center copyright-container">
    <div class="row">
      <div class="column l12 m12 s12">
        <div class="copyright">&copy; {{ 'now' | date: "%Y" }} BedheadPajamas, Inc. All Rights Reserved. Terms & Privacy</div>
      </div>
    </div>
  </div>
</footer>
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "General"
      },
      {
        "type": "checkbox",
        "id": "enable_social",
        "label": "Show social media icons",
        "default":true
      },
      {
        "type":"header",
        "content":"Column 1"
      },
      {
        "type":"image_picker",
        "id":"column1_image",
        "label":"Image"
      },
      {
        "type":"header",
        "content":"Column 2"
      },
      {
        "type":"text",
        "id":"column2_heading",
        "label":"Heading"
      },
      {
        "type":"link_list",
        "id":"column2_linklist",
        "label":"Menu"
      },
      {
        "type":"header",
        "content":"Column 3"
      },
      {
        "type":"text",
        "id":"column3_heading",
        "label":"Heading"
      },
      {
        "type":"link_list",
        "id":"column3_linklist",
        "label":"Menu"
      },
      {
        "type":"header",
        "content":"Column 4"
      },
      {
        "type":"text",
        "id":"column4_heading",
        "label":"Heading"
      },
      {
        "type":"link_list",
        "id":"column4_linklist",
        "label":"Menu"
      },
      {
        "type":"header",
        "content":"Column 5"
      },
      {
        "type":"text",
        "id":"column5_heading",
        "label":"Heading"
      },
      {
        "type":"html",
        "id":"column5_content",
        "label":"Column 5 Content"
      }
    ]
  }
{% endschema %}
